# SumUp Configuration
# Copy the .env.example to .env and fill in your real details.

# Choose either real or sandbox for payments.
SUMUP_MODE=real

# Create the API key at https://me.sumup.com/nl-nl/settings/api-keys
SUMUP_API_KEY=sup_sk_blablabla.... 

# After login SumUp on the right top there is your name and below the MERCHANT 
# The merchant code is 8 characters and digits, e.g.
SUMUP_MERCHANT_CODE=MN123456

# Your e-mail address for SumUp. 
SUMUP_MERCHANT_EMAIL=info@kassaku.nl

# Affiliate key
SUMUP_AFFILIATE_KEY=sup_afk_12345678901234567890

# Invent your own ID key.
SUMUP_AFFILIATE_APP_ID=com.kassafu.pos

# Webhook Secret (for production)
WEBHOOK_SECRET=your-secure-webhook-secret-here

# Add the reader ID, suppose your shop has 10 pay-terminals.
# This is the reader ID that tells which payment terminal is used now.
SUMUP_READER_ID=rdr_0A0000A0A000AA0AAA0A000AA0

# Server Configuration for this app
PORT=8888

